@font-face
{
    font-family: fresh-tea;
    src: url(../typo/FRESH_TEA-Demo.ttf);
}
#main-title 
{
    font-family: fresh-tea, serif;
    font-size: 4rem;
}
header .btn-light
{
    margin: 0 8px 0 8px;
}
.card 
{
    margin: auto;
    width: 64rem;
}
.card-header
{
    font-family: fresh-tea, serif;
    font-size: 2.5rem;
}
.actions .btn 
{
    margin: 0 0 0 4px;
}
.form-group
{
    margin: auto;
    width: 300px;
}
.signal-comment
{
    margin: 6px 0 0 0;
}
